.npm
.eslintcache
.env
.env.test
.cache
/Store_Inventory_app/.vs/Store_Inventory_app/v17/Browse.VC.db
/Store_Inventory_app/.vs/Store_Inventory_app/v17/Browse.VC.db-shm
/Store_Inventory_app/.vs/Store_Inventory_app/v17/Browse.VC.db-wal
/Store_Inventory_app/.vs/Store_Inventory_app/v17/Browse.VC.opendb
/Store_Inventory_app/Store_Inventory_app/x64/Debug/pch.pch
/Inventory_App/.vs/Inventory_App/v17/Browse.VC.db
/Inventory_App/.vs/Inventory_App/v17/Browse.VC.db-shm
/Inventory_App/.vs/Inventory_App/v17/Browse.VC.db-wal
/Inventory_App/.vs/Inventory_App/v17/Browse.VC.opendb
