<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="./style.css" rel="stylesheet" />
    <script></script>
    <title>ToDo App</title>
</head>
<body>
    <div class="box1" id="header">
        <h1 class="">TODOs</h1>
        <form id="form">
            <button type="button" class="buttons" id="createTaskButton">+</button>
        </form>
    </div>
    <div class="box2" id="tasks"></div>
<script src="../js/Script.js"></script>
</body>
</html>